html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.gradient-green{
	background: #f8ffe8;
	background: -moz-linear-gradient(left,  #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%);
	background: -webkit-linear-gradient(left,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
	background: linear-gradient(to right,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 );	
}
.gradient-yellow{
background: #fefcea;
background: -moz-linear-gradient(left,  #fefcea 0%, #f1da36 100%);
background: -webkit-linear-gradient(left,  #fefcea 0%,#f1da36 100%);
background: linear-gradient(to right,  #fefcea 0%,#f1da36 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 );

}
.gradient-blue{
	background: #ebf1f6;
	background: -moz-linear-gradient(left,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
	background: -webkit-linear-gradient(left,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
	background: linear-gradient(to right,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 );
}
.gradient-pink{
	background: #fcecfc;
background: -moz-linear-gradient(left,  #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%);
background: -webkit-linear-gradient(left,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%);
background: linear-gradient(to right,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=1 );

}
.gradient-red{
	background: rgb(254,187,187);
background: -moz-linear-gradient(left,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%);
background: -webkit-linear-gradient(left,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
background: linear-gradient(to right,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=1 );

}